/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

#main_wrapper {
    width:100%;
    height:auto;
    position:relative;
    background-color:#ffffff;
    top:0px;
    left:0px;
    overflow: hidden;
}

/* ------------ */

nav {
    width:240px;
    height:100%;
    padding:40px;
    background-color: rgba(44,107,5, .97);;
    color:#ffffff;
    position:fixed;
    top:0px;
    right:-500px;
    z-index:9000;
    -webkit-box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.2);
    box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.2);
    transition:500ms;
    -webkit-transition:500ms;
}

nav.show {
    right:0px;
}

nav .closeBtn {
    width:25px;
    height:25px;
    border-radius:30px;
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor:pointer;
    color:#78b254;
    position:absolute;
    top:10px;
    right:10px;
    text-align:center;
    line-height: 22px;
    font-size:25px;
    transition:300ms;
    -webkit-transition:300ms;
}

nav .closeBtn:hover {
    color:#ffffff;
    background-color:#78b254;
    transform:scale(1.3);
    -webkit-transform:scale(1.3);
}

nav .heading {
    width: auto;
    height: auto;
    padding: 0px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
    color: #78b254;
}

nav ul {
    list-style: none;
    padding:0px;
}

nav ul li {
    font-size: 16px;
    background-color: rgba(255,255,255,.2);
    margin: 0px 0px 10px 0px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius:5px;
    cursor:pointer;
    transition:300ms;
    -webkit-transition:300ms;
}

nav ul li:hover {
    background-color: rgba(255,255,255,.5);
}

/* ------------ */

header {
    width: calc(100% - 80px);
    height: 100px;
    padding: 40px 40px 35px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:8000;
    background-image:url('../img/header_bg.jpg');
    background-repeat:repeat-x;
    background-size:contain;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.2);
    transition:500ms;
    -webkit-transition:500ms;
}

header .logo {
    width:100%;
    height:100%;
    position:relative;
    background-image:url('../img/logo.png');
    background-repeat:no-repeat;
    background-size:contain;
}

header .menuBtn{
    width:auto;
    height:auto;
    color:#3c2313;
    position:absolute;
    top:30px;
    right:40px;
    z-index:1000;
    font-size:30px;
    cursor:pointer;
    transition:500ms;
    -webkit-transition:500ms;
}

header .header-info {
    width:auto;
    height:auto;
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    letter-spacing:1px;
    text-align:right;
    color:#3c2313;
    top: 90px;
    right: 40px;
    transition:500ms;
    -webkit-transition:500ms;
}

header .header-address {
    margin-top:6px;
    line-height:20px;
}

header.sticky {
    height:50px;
    position:fixed;
    top:0px;
    left:0px;
    padding:10px 40px;
}

header.sticky .menuBtn {
    top:20px;
}

header.sticky .header-info {
    top:9px;
    right:100px;
    font-size:13px;
}


header.sticky .header-address {
    line-height:16px;
}
/* ------------ */

.banner {
    width: calc(100% - 80px);
    height: 600px;
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 175px auto 40px;
    transition:500ms;
    -webkit-transition:500ms;
}

.banner.sticky {
    margin: 70px auto 40px;
}

.banner .store-info {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 70%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 0px 0px 0px 20px;
    border-left: 5px solid #78b254;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition:500ms;
    -webkit-transition:500ms;
}

.banner .store-info .heading{
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 4px;
    margin-bottom:10px;
    transition:500ms;
    -webkit-transition:500ms;
}


.banner .store-info .clockIcon{
    color: #78b254;
    font-size: 85px;
    position: absolute;
    top: 50%;
    left: -105px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition:500ms;
    -webkit-transition:500ms;
}


/* ------------ */

.services {
    width: auto;
    height: 500px;
    font-size: 0px;
    text-align: center;
    vertical-align: top;
    padding:40px;
    transition:500ms;
    -webkit-transition:500ms;
}

.services .left {
    width:50%;
    height:100%;
    position:relative;
    display:inline-block;
    text-align:right;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    color:#ffffff;
    vertical-align: top;
    background-color:#e2e2e2;
    background-image:url('../img/hand.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.services .left .heading {
    font-size: 55px;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition:500ms;
    -webkit-transition:500ms;
}

.services .right {
    width:50%;
    height:100%;
    position:relative;
    display:inline-block;
    text-align:left;
    font-size:14px;
    vertical-align: top;
}

.services .right > ul {
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    letter-spacing: 2px;
    line-height:30px;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #3c2313;
    left: 25px;
    width:auto;
    transition:500ms;
    -webkit-transition:500ms;
}


/* ------------ */

.insurance {
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: top;
    padding: 40px 40px;

}

.insurance .heading {
    font-family: 'Open Sans', sans-serif;
    font-size:28px;
    letter-spacing:4px;
    margin:60px auto 40px;
    transition:500ms;
    -webkit-transition:500ms;
}

.insurance .heading .line {
    width: 200px;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    display: inline-block;
    position: relative;
    margin: 0px 50px;
    top: -10px;
    transition:500ms;
    -webkit-transition:500ms;
}

.insurance .insuranceLogos {
    max-width:1400px;
    margin:0px auto;
}

.insurance .logo {
    height:35px;
    width:auto;
    margin:30px 40px;
    display:inline-block;
    transition:500ms;
    -webkit-transition:500ms;
}

.insurance .notListed {
    font-style:italic;
    color:#666666;
    margin-top:20px;
}

/* ------------ */

.visit {
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: top;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color:#3c2313;
    font-size:0px;
}

.visit .heading {
    width: auto;
    height: auto;
    text-align: center;
    background-color: #78b254;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding: 20px;
    letter-spacing: 4px;
    display: block;
    border-radius:5px;
    margin-bottom:20px;
    transition:500ms;
    -webkit-transition:500ms;
}

.visit .subHeading {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
    color: #78b254;
    margin: 30px;
    line-height:25px;
    transition:500ms;
    -webkit-transition:500ms;
}

.visit .instructions {
    width:auto;
    height:auto;
    padding:0px 7%;
}

.visit .left {
    width: 33%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    line-height: 40px;
}

.visit .center {
    width:33%;
    height:auto;
    display:inline-block;
    border-left:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    vertical-align: top;
}

.visit .center ul {
    text-align:left;
    font-size:20px;
}

.visit .right {
    width:33%;
    height:auto;
    display:inline-block;
    vertical-align: top;
    font-size:20px;
    text-align:justify;
}

/* ------------ */

.doctor {
    width: auto;
    height: auto;
    font-size: 0px;
    text-align: center;
    vertical-align: top;
    padding:40px;
}

.doctor .portrait {
    display:none;
}

.doctor .left {
    width:50%;
    height:auto;
    min-height:500px;
    position:relative;
    display:inline-block;
    background-image:url('../img/james2.jpg');
    background-size:contain;
    background-position:top right;
    background-repeat:no-repeat;
    vertical-align:top;
}

.doctor .right {
    width:50%;
    height:100%;
    position:relative;
    display:inline-block;
    vertical-align:top;
}

.doctor .right .heading {
    width: auto;
    height: auto;
    padding: 20px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
    background-color: #3c2313;
    color: #ffffff;
    margin-bottom:30px;
}

.doctor .right .content {
    width:auto;
    height:auto;
    padding:0px 40px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align:left;
}

.doctor .right .content > div {
    margin-bottom:20px;
}


/* ------------ */

footer {
    width: 100%;
    height: auto;
    overflow:hidden;
    min-height: 400px;
    background-color: #999999;
    border-top: 20px solid #e2e2e2;
    margin-top:30px;
    text-align:center;
}

footer .map {
    width:80%;
    height:auto;
    max-width:1000px;
    position:relative;
    margin:80px auto 30px;
    display:block;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.5);
}

footer .copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:#ffffff;
    text-align:center;
    padding: 90px 0px 40px 0px;
}

footer .column {
    width: 220px;
    height: auto;
    min-height: 115px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    padding: 15px;
    background-color: #e2e2e2;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    vertical-align:top;
    margin:2px 0px;
}

footer .column .heading {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom:5px;
    border-bottom:1px solid #999999;
}


/* ======================= */
@media (max-width: 1420px) {

    .banner .store-info {
        font-size: 15px;
        left:66%;
    }

    .banner .store-info .clockIcon {
        font-size: 70px;
        left:-88px;
    }

    .banner .store-info .heading {
        font-size: 27px;
        line-height:20px;
    }


    .insurance .insuranceLogos {
        max-width:1000px;
    }

    .insurance .heading .line {
        width: 170px;
    }
}


/* ======================= */
@media (max-width: 1200px) {

    .services .right > ul {
        font-size:14px;
        width:430px;
    }
        
    .insurance .insuranceLogos {
        max-width: 770px;
    }
}


/* ======================= */
@media (max-width: 1023px) {

    .banner {
        height:320px;
    }

    .banner .store-info {
        font-size: 10px;
        left:65%;
        padding: 0px 0px 0px 10px;
        border-left: 2px solid #78b254;
    }

    .banner .store-info .clockIcon {
        font-size: 45px;
        left:-50px;
    }

    .banner .store-info .heading {
        font-size: 16px;
        line-height:16px;
        margin-bottom:4px;
    }


    .services {
        height: 370px;
    }

    .services .left .heading {
        font-size: 35px;
    }

    .services .right > ul {
        font-size: 11px;
        letter-spacing: 1px;
        line-height:22px;
        top: 47%;
        left: 0px;
    }


    
    .insurance .insuranceLogos {
        max-width: 625px;
    }

    .insurance .logo {
        height:25px;
        margin:20px;
    }

    .insurance .heading {
        font-size:20px;
        margin:40px 0px 40px;
    }

    .insurance .heading .line {
        width: 110px;
        margin: 0px 20px;
    }

    .visit {
        padding:40px;
        height:auto;
    }

    .visit .heading {
        font-size:20px;
        padding:10px;
    }

    .visit .subHeading {
        font-size:18px;
        margin:10px;
        letter-spacing:1px;
    }

    .visit .left {
        height:auto;
        line-height:30px;
    }

    .visit .center {
        height:auto;
    }

    .visit .center ul {
        font-size:12px;
    }

    .visit .right {
        height:auto;
    }

    .visit .instructions {
        font-size:12px;
    }


    .doctor .right .content {
        padding:0px 20px;
        font-size:13px;
    }

    .doctor .right .heading {
        font-size:15px;
    }
}


/* ======================= */
@media (max-width: 767px) {

    .banner.sticky {
        margin:70px auto 20px;
    }

    .banner {
        width:auto;
        height:120px;
        padding:20px;
        background-size:131%;
        background-position:-130px;
    }

    .banner .store-info {
        font-size: 10px;
        left:auto;
        right:3%;
        padding: 0px 0px 0px 10px;
        border-left: 2px solid #78b254;
    }

    .banner .store-info .clockIcon {
        font-size: 45px;
        left:-50px;
    }

    .banner .store-info .heading {
        font-size: 16px;
        line-height:16px;
        margin-bottom:4px;
    }


    .services {
        height: auto;
        padding:20px 0px;
    }

    .services .left {
        width:auto;
        height:auto;
        padding:10px;
        display:block;
        position:relative;
        background-color:#e2e2e2;
        background-image:none;
    }

    .services .left .heading {
        width:100%;
        top:auto;
        right:auto;
        font-size:25px;
        text-align:center;
        display:block;
        position:relative;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
    }

    .services .right {
        width:auto;
        height:auto;
        display:block;
        position:relative;
        overflow:hidden;
    }

    .services .right > ul {
        width:310px;
        top:auto;
        left:50%;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        position:relative;
    }



    .insurance {
        padding:20px 0px;
    }

    .insurance .insuranceLogos {
        max-width: 420px;
    }

    .insurance .logo {
        height:20px;
        margin:15px;
    }

    .insurance .heading {
        font-size:17px;
        margin:20px 0px 20px;
    }

    .insurance .heading .line {
        width: 50px;
        margin: 0px 10px;
        top:-7px;
    }


    .visit {
        padding:20px 0px;
    }

    .visit .heading {
        border-radius:0px;
    }

    .doctor {
        padding:20px 0px;
    }

    .doctor .right .content {
        padding:0px 15px;
        font-size:11.5px;
    }

    .doctor .right .heading {
        font-size:15px;
        padding:15px;
    }

    footer .map {
        margin:40px auto 30px;
    }

    footer .column {
        font-size: 12px;
        min-height:95px;
    }

    footer .column .heading {
        font-size:14px;
    }

}


/* ---- minor tweak for header ---- */
@media (max-width: 670px) {
    header.sticky {
        width: calc(100% - 20px);
        padding:10px;
    }

    header.sticky .menuBtn {
        right:10px;
    }

    header.sticky .header-info {
        display:none;
    }
}


/* ======================= */
@media (max-width: 479px) {

    .banner {
        height:120px;
        padding:10px;
        background-size:144%;
        background-position:-130px;
    }

    .banner .store-info {
        font-size: 7px;
        left:auto;
        right:3%;
        padding: 0px 0px 0px 10px;
        border-left: 2px solid #78b254;
    }

    .banner .store-info .clockIcon {
        font-size: 30px;
        left:-37px;
    }

    .banner .store-info .heading {
        font-size: 13px;
        line-height:12px;
        margin-bottom:4px;
    }

    .services .left .heading {
        font-size:20px;
    }

    .services .right ul {
        width:250px;
        font-size:9px;
    }


    .insurance {
        padding:20px 0px;
    }

    .insurance .insuranceLogos {
        max-width: 260px;
    }

    .insurance .logo {
        height:20px;
        margin:15px;
    }

    .insurance .heading {
        font-size:13px;
        letter-spacing: 2px;
    }

    .insurance .heading .line {
        width: 30px;
        margin: 0px 10px;
        top:-4px;
    }

    .insurance .notListed {
        font-size:11px;
    }


    .visit {
        padding:20px 0px;
        height:auto;
    }

    .visit .heading {
        font-size:15px;
        padding:15px;
        border-radius:0px;
    }

    .visit .subHeading {
        font-size:16px;
        margin:5px;
        letter-spacing:1px;
    }

    .visit .left {
        width:100%;
        display:block;
        height:auto;
        line-height:30px;
    }

    .visit .center {
        width:100%;
        display:block;
        height:auto;
        border-left:none;
        border-right:none;
        margin:30px 0px;
    }

    .visit .center ul {
        font-size:12px;
    }

    .visit .right {
        width:100%;
        display:block;
        height:auto;
    }

    .visit .instructions {
        font-size:12px;
        padding:0% 13%;
    }

    .doctor {
        padding:20px 0px;
    }

    .doctor .left {
        display:none;
    }

    .doctor .right {
        width:100%;
        display:block;
    }

    .doctor .right .content .heading {
        margin-bottom:10px;
    }

    .doctor .portrait {
        display:block;
        margin-bottom:10px;
    }

    footer .copyright {
        font-size:9px;
    }

    footer .column {
        font-size: 12px;
        min-height:auto;
    }
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
